/* == Menu burger == */
/* = Menu burger = */
.sidenav {
    height: 100vh;                      /* Prend toute la hauteur */
    width: 100vw;                       /* Prend toute la largeur */
    position: fixed;                    /* Menu fixed */
    z-index: 1;                         /* Menu par dessus tout le reste */
    top: 0;                             /* Menu tout en haut */
    left: -100vw;                       /* Menu caché par défaut */
    background-color: #e8e8e8;        important; /* Changer la couleur quand elle sera trouvé */ 
    padding-top: 5%;                    /* 5% de padding par rapport au top */
    transition: left 1.5s ease;         /* Transition de 1.5s avec ralentissement au début et à la fin */
  }
  
  /* = Liens du menu burger = */
  .sidenav a {
    padding: .5rem .5rem .5rem 2rem;
    font-size: 2rem;
    color: #cc0808;                   important; /* Changer la couleur quand elle sera trouvé */
    display: block;
    transition: 1s;                     /* Apparition du menu en 1sec */
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  /* = Position du menu ouvert = */
  .sidenav.active {
    left: 0;
  }
  
  /* = Bouton de fermeture = */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 8%;
    font-size: 4rem;
  }
  /* = Apparence du bouton burger = */
  .burger-icon span {
    display: block;
    width: 2.5rem;
    height: .4rem;
    background-color: black;
    margin: 1% 2%;
  }

  /* == Menu dark mode == */
